* {
    margin: 0px;
    padding: 0px;
    font-family: Heebo;
}

body {
    position: relative;
    width: 1440px;
    height: 1336px;
    background: #FFFFFF;
    padding: 48px 164px 47px;

}

/* Layout */



/* Styling */